<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.affirm.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".CheckoutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".VcnCheckoutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ModalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PrequalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoanAmountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AffirmDefaultTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".VcnDisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AffirmDefaultTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
