.affirm-ala-price {
    color: #0FA0EA;
    font-weight: bold;
    font-style:italic;
    !important;
}
.affirm-modal-trigger {
    color: #2984EE;
    font-style:italic;
    font-family:'apercu-bold';
    !important;
}
body {
    font-family: 'apercu-bold';
    font-weight: normal;
    text-align: center;
    !important;
}